@font-face {
    font-family: Sen;
    src: url('fonts/Sen/Sen-Regular.ttf')
}

@keyframes zoomInOut {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

* {
    box-sizing: border-box;
}

body {
    font-family: Sen, sans-serif;
    /*background-color: darkseagreen;*/
    margin: 5rem 0 0 0;
    max-width: 100vw;
    overflow-x: hidden;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

[class*="col-"] {
    float: left;
    padding: 15px;
    /*border: 1px solid red;*/
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

#container {
    /*position: relative;*/
    /*overflow-x: hidden;*/
}

/* Add a black background color to the top navigation */
#navBar {
    list-style-type: none;
    position: fixed;
    z-index: 1;
    background-color: #FFFFFF;
    width: 100%;
    height: 5rem;
    margin: 0;
    padding: 0 3rem 0 3rem;
    /*overflow: hidden;*/
    top: 0;
}

#navBar li {
    display: inline;
    float: right;
}

#navBar li img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#navBar .active {
    text-decoration: underline;
    /*TODO: Make it border bottom.*/
}

#navBar a {
    /*position: static;*/
    margin: auto 1.5rem auto 1.5rem;

    display: block;
    font-size: 1.2rem;
    text-decoration: none;
    line-height: 5rem;
    color: #1C2085;

}

input {
    border: none;
    box-shadow: none;
    background: #FFFFFF;
    border-radius: 25px;
    padding: 11px 15px;
}

input:focus {
    outline: none !important;
}

input::placeholder {
    color: #576677;
    opacity: 50%;
}

input[type=checkbox] {
    border-radius: 4px;
    margin: .5rem;
    outline: none !important;
    /*TOOD: Remove border if possible.*/

    -ms-transform: scale(1.25); /* IE */
    -moz-transform: scale(1.25); /* FF */
    -webkit-transform: scale(1.25); /* Safari and Chrome */
    -o-transform: scale(1.25); /* Opera */
    transform: scale(1.25);
}

.landingBgWrapper {
    position: absolute;
}

#landing {
    padding: 0 3rem 0 3rem;
    height: 800px;
}

#landingBg {
    z-index: -1;
    position: absolute;
}

#landingBg .bgShape1 {
    position: absolute;
    width: 1500px;
    height: 800px;
    top: -420px;
    left: -290px;
    border-radius: 75px;
    background: #3947B6;
    box-shadow: 0 11px 106px #2A389D;
    transform: rotate(13deg);
}

#landingBg .bgShape2 {
    position: absolute;
    width: 1500px;
    height: 800px;
    top: -215px;
    left: -875px;
    border-radius: 75px;
    background: #4250BF;
    box-shadow: 0 4px 130px #263396;
    transform: rotate(13deg);
}

#landingBg .bgShape3 {
    position: absolute;
    width: 1263px;
    height: 1100px;
    border-radius: 40px;
    top: -900px;
    left: 60px;
    background: #253194;
    box-shadow: 0 11px 106px #253194;
    transform:matrix(-1.66,1.12,-2.69,-0.60,-55,100);
}

#landingButton {
    /*position: absolute;*/
    transform: translateY(60%);
}

#landingButton a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: #E7E7E7;
    border: 1px solid #E7E7E7;
    border-radius: 50%;
    font-size: 15px;
    font-weight: lighter;
    text-align: center;
    text-decoration: none;
    background: none;
}

#landing input {
    width: 50%;
}

#landing button {
    color: #FFFFFF;
    border: 0;
    background: #38A5DB;
    border-radius: 25px;
    padding: 11px 37px;
    margin-right: 30px;
    transform: translateX(-50px);
}

#landing button:focus {
    outline: none !important;
}

#landing button:hover {
    cursor: pointer;
}

#landing .inputGroup {
    position: relative;
}

#landing h6 {
    font-weight: normal;
    font-size: 18px;
    margin-bottom: .5rem;
    color: #FFFFFF;
    opacity: 0.7;
}

#landing h1 {
    font-weight: bold;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: .2px;
    color: #FFFFFF;
    margin: 7rem 0 6rem 0;
}

#landing img {
    display: block;
    margin: 3rem auto 0 auto;
    max-width: 90%;
    border-radius: 10px;
}

#team {
    padding: 0 3rem 0 3rem;
    margin-bottom: 3rem;
}

#team h1 {
    text-align: center;
    color: #1C1F83;
    font-size: 16px;
    line-height: 34px;
    letter-spacing: 12px;
    text-transform: uppercase;
}

.memberCard {
    display: inline-block;
    text-align: center;
}

.memberCard img {
    border-radius: 50%;
    height: 131px;
    width: 131px;
}

.memberCard h2 {
    color: #38A5DB;
    font-size: 1.25rem;
    line-height: 34px;
    margin-bottom: 0.15rem;
}

.memberCard h3 {
    margin: 0;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.26px;
    color: #011226;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.memberCard h4 {
    margin-top: 0.15rem;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #45515F;
}

.memberCard button {
    padding: .2rem;
    width: 2rem;
    mix-blend-mode: normal;
    opacity: 0.3;
    border: 1px solid #7F8B98;
    border-radius: 3px;
}

#contact {
    padding-top: 5rem;
    text-align: center;
    height: 600px;
    background-color: #252B42;
}

#contact h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 34px;
    letter-spacing: 12px;
    text-transform: uppercase;

    color: #FFFFFF;
}

#contact h2 {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 2rem 0 2rem 0;
}

#footer {
    text-align: center;
    padding: 5rem 0 2.5rem 0;
    background: linear-gradient(180deg, #FAFBFF 0%, #EFF1F9 41.68%, #E9ECF6 49.59%, #CED3E8 93.91%);
}

#footer a, a:visited, a:hover, a:active {
    color: #0F81FF;
}

#footer h3 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

#footer h3, span {
    color: #263396;
}

#footer button {
    font-size: 1rem;
    background: #38A5DB;
    box-shadow: 0 12px 44px rgba(56, 165, 219, 0.6);
    border: none;
    border-radius: 23px;
    outline: none !important;
    padding: 11px 15px;
    color: white;
}

#footerTop {
    margin-bottom: 2rem;
}

#footerBottom {
    padding: 0 25rem;
}

.formWrapper {
    color: #FFFFFF;
    padding: 3rem 2rem 2rem 2rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    /*height: 370px;*/

    background: #4250BF;
    border-radius: 13px;
    /*margin: 0 8px;*/
}

.formWrapper input[type=text] {
    margin-bottom: 1.5rem;
    width:100%;
}

.formWrapper .checkboxWrapper {
    text-align: left;
    width: 100%;
    margin-bottom: 1rem;
}

.formWrapper .submitWrapper {
    text-align: left;
    width: 100%;
}

.formWrapper input[type=submit] {
    background: #38A5DB;
    box-shadow: 0 12px 44px rgba(56, 165, 219, 0.6);
    border-radius: 23px;
}

.divSepRight {
    border-width: thin;
    border-right: solid 1px #9CA4C7;
}

.fa-arrow-down {
    animation: zoomInOut 3s infinite ;
}